.contributor__card {
  display: flex;
  justify-content: space-between;
  margin-bottom:10px;
  min-width:400px;
  max-width:400px;
}

.contributor__details {
  display: flex;
  flex-direction: column;
}
.contributor__content {
  flex: 1 0 auto;
}
.contributor__cover {
  width: 151px;
  height: 151px;
}
.contributor__controls {
  display: flex;
  align-items: center;
  padding-left: 10px;
  padding-bottom: 10px;
}
.contributor__gh {
  text-decoration: none;
}

.contributor_fa {
  margin-right:4px;
  color:black;
}

.contributor_link {

}


@media (max-width: 600px) {
  .contributor__card {

    min-width:300px;
    max-width:300px;
  }
}
